html,
body {
  max-width: 100vw;
}


body {
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}

button>.MuiTouchRipple-root {
  margin-left: 0 !important;
  margin-top: 0 !important;
}


a {
  text-decoration: none;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {
  --wkit-accent-hs: #61A0FD;
  --wkit-on-accent-rgb: 255, 255, 255;
  --wkit-bg-rgb: 40, 40, 40;
  --wkit-on-bg-rgb: 241, 241, 241;
  --wkit-font-size-small: 16px;
  --wkit-font-size-medium: 18px;
  --wkit-font-size-large: 20px;
  --wkit-border-radius: 8px;
}


.wkit-dialog__content * {
  font-family: var(--font-darker-grotesque) !important;
}

.wkit-new-to-sui,
.wkit-select__scroll+div,
.wkit-select__title {
  display: none;
}

.wkit-select__scroll {
  min-height: unset;
}

.wkit-select__container:nth-child(2) {
  margin-top: 10px;
}

.wkit-dialog__overlay {
  z-index: 1301;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}


@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}



@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(97, 160, 253, 0.2);
  }

  100% {
    box-shadow: 0 0 0 4px rgba(97, 160, 253, 0.5);
  }
}

.pulse {
  animation: pulse-animation 2s infinite;
}

.marquee {
  width: 200%;
  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading span:nth-child(3) {
  animation-delay: 0.4s;
}

/* width */
.scrollbar ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* width */
.scrollbar ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.scrollbar ::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

/* Handle */
.scrollbar ::-webkit-scrollbar-thumb {
  background: #7d90b2;
  border-radius: 2px;
}

/* Handle on hover */
.scrollbar ::-webkit-scrollbar-thumb:hover {
  background: #7d90b2;
  cursor: pointer;
}